.mtg__single {
	display: grid;
	gap: $spacer;
	grid-template-rows: max-content 1fr;

	&--name {
		font-size: 1.4rem;
	}

	a {
		display: inline-flex;
		color: $text;
		justify-content: center;
		align-items: center;
		background-color: $lightgray;
		font-size: 1.6rem;

		@include lg {
			font-size: 2.4rem;
		}
	}
}
