$fontfamily: (
	base: (
		"noto-sans-cjk-jp",
		sans-serif,
	),
);

$primary: #68aa81;
$text: #08061a;
$red: #eb5757;
$blue: #2f80ed;
$yellow: #f8ae1e;
$lightgray: #e0e0e0;

$z-layers: (
	"hamburger": 101,
	"header": 100,
	"above": 5,
	"middle": 3,
	"below": 2,
	"hidden": -100,
);

$spacer: 0.8rem;
